
.land_box
{
    width: 100%;
    height: 60%;
    /* background-color: red; */
    /* margin: 10px; */
    /* display: inline-block; */
    /* float:left; */
    overflow: hidden;
    position: relative;
    top: 0; 
}


.land_text
{
    color: black
}


.land_box2
{
    width: 40%;
    height: 40%;
    background-color: rgb(246, 246, 246);
    /* margin: 10px; */
    display: inline-block;
    /* float:left; */
    overflow: hidden;
    position: relative;
    top: 0; 
    border-radius: 5px !important;
    padding: 10px;
}

.land_box3
{
    width: 40%;
    height: 40%;
    background-color: rgb(131, 136, 220);
    margin: 20px;
    /* float:right; */
    display: inline-block;
    padding: 9px;
    overflow: hidden;
    position: relative;
    top: 0; 
    border-radius: 25px !important;
}

.land_hole2
{
    margin-left: 9px;
    width: 2%;
    display: inline-block;
}

.land_hole
{
    height: 2%;
    top: 0;
}

.land_Icon{
    /* float:left;
    width: 100px;
    margin-left: 0.5%; */
    width: 40%;
    /* flex: 1; */
    display: inline-block;
    /* width: undefined;
    height: undefined; */
    margin-top: 2px;
    position: right;
    margin-top: 8px;
}


